* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root   {
    --colors-primary: #010B40;
    --colors-secondary: #FEFEFC;
    --colors-status:free: #358B1D;
    --colors-status:occupied: #B71919;
    --colors-status:partlyoccupied: #D37600
}


h1, h2 {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h2 {
    font-size: 3rem;
  }

body {
    background-color: yellow;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}